.custom-alert {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.custom-alert.active {
  animation-name: alert;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes alert {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
